<html>
  <head>
    <title>{{ title_of_page }}</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawStuff);
      
      function drawStuff() {
	var temp = [['Number of right answers', 'Number of respondentse']]
	{% for key, value in statistics.items %}
	      temp.push([ {{ key }}, {{ value }} ])
        {% endfor %}
        var data = new google.visualization.arrayToDataTable(temp);

        var options = {
          width: 800,
          legend: { position: 'none' },
          chart: {
		  title: 'Statistics' },
          axes: {
            x: {
              0: { side: 'top', label: 'Number of right answers'} // Top x-axis.
            }
          },
          bar: { groupWidth: "90%" }
        };

        var chart = new google.charts.Bar(document.getElementById('top_x_div'));
        // Convert the Classic options to Material options.
        chart.draw(data, google.charts.Bar.convertOptions(options));
      };
    </script>
  </head>
  <body>
    <div id="top_x_div" style="width: 800px; height: 600px;"></div>
  </body>
</html>

